<!--@subject Commercial Account Contact: Contact Us @-->
<!--@vars
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td>
                    Hello {{var store.getFrontendName()}}, <br/><br/>
                    A contact form has been submitted:<br/><br/>
                    Name: {{var name}}<br/>
                    Email: {{var email}}<br/>
                    Phone: {{var phone}}<br/>
                    Message: {{var message}}<br/><br/>
                    Warm Regards,<br/>
                    {{var from}}
                </td>
            </tr>
        </table>
    </div>
</body>


