<!--@subject PO#: {{var orderData.orderId}} {{var store.getFrontendName()}}: eD CA Order Submitted @-->
<!--@vars
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td>
                    Hello {{var name}}, <br/><br/>
                    An order has been submitted with following details:<br/><br/>
                    {{var orderDetails}}<br/><br/>
                    Warm Regards,<br/>
                    {{var from}}
                </td>
            </tr>
        </table>
    </div>
</body>


