<!--@subject {{var store.getFrontendName()}}: eD CA Password Recover @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td>
                    Hello {{var name}}, <br/><br/>
                    We have received a request to reset your CA account password for {{var accountName}} at {{var requestedAt}}. To reset your password please use this link {{var link}}<br/><br/>
                    If you did not requested the reset link. Please kindly ignore this e-mail.<br/><br/>
                    Warm Regards,<br/>
                    {{var from}}
                </td>
            </tr>
        </table>
    </div>
</body>


