<!--@subject IMPORTANT. Your eD Commercial Account has been created. @-->
<!--@vars
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td>
                        Dear {{var firstname}}, <br/><br/>

                        We have created a user account for you at entreDonovan.com and here's your login info: <br/><br/>
                        
                        Sign in at: {{var loginUrl}} <br/>
                        Username: {{var username}} <br/>
                        Password: {{var password}} <br/><br/>
                        
                        Please login to your account and complete your profile as quickly as possible, so that we may expedite the activation process. <br/><br/>
                        
                        Feel free to reply to this email if you have any comments or questions :) <br/><br/>
                         
                        Best regards, <br/>
                        {{var from}}
                </td>
            </tr>
        </table>
    </div>
</body>


