
<table width="100%" border="0">
  <tbody>
    <tr>
      <td colspan="6"><h3><strong>Dress</strong></h3></td>
    </tr>
    <tr>
      <td><strong>Dress Length</strong></td>
      <td colspan="5">{{dressLengthAboveKneeVal}} {{dressLength}} {{dressLengthBelowKneeVal}}</td>
    </tr>
    <tr>
      <td><strong>* Explain if Other</strong></td>
      <td colspan="5">{{dressLengthOtherExplain}}</td>
    </tr>
    <tr>
      <td><strong>Dress Shape</strong></td>
      <td colspan="5">{{dressShape}}</td>
    </tr>
    <tr>
      <td><strong>* Explain if Other</strong></td>
      <td colspan="5">{{dressShapeExplain}}</td>
    </tr>
    <tr>
      <td colspan="6"><strong>Fit Preference specific to this item:</strong></td>
    </tr>
    <tr>
      <td colspan="6">{{dressPreference}}</td>
    </tr>
    <tr>
      <td colspan="5">{{dressLine}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>* Explain if Partial</strong></td>
      <td colspan="4">{{dressExplain}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Style</strong></td>
      <td><strong>Sleeves</strong></td>
      <td colspan="2"><strong>Neckline</strong></td>
      <td><strong>Pockets</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{dressStyle}}</td>
      <td>{{dressSleeves}}</td>
      <td colspan="2">{{dressNeckline}}</td>
      <td>{{dressPocket}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Fabric Code</strong></td>
      <td><strong>Fabric #</strong></td>
      <td colspan="2"><strong>Fabric Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{dressFabricCode}}</td>
      <td>{{dressFabricId}}</td>
      <td colspan="2">{{dressDescription}}</td>
      <td>{{dressStretchFabric}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Lining Code</strong></td>
      <td><strong>Lining #</strong></td>
      <td colspan="2"><strong>Lining Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{dressLiningCode}}</td>
      <td>{{dressLiningId}}</td>
      <td colspan="2">{{dressLiningDescription}}</td>
      <td>{{dressLiningStretchBox}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Alt. Fab. Code</strong></td>
      <td><strong>Alt. Fab. #</strong></td>
      <td colspan="2"><strong>Alt. Fab. Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{dressAlternateCode}}</td>
      <td>{{dressAlternateId}}</td>
      <td colspan="2">{{dressAlternateDescription}}</td>
      <td>{{dressAlternateStretchFabric}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Alt. Lining Code</strong></td>
      <td><strong>Alternate Lining #</strong></td>
      <td colspan="2"><strong>Alt. Lining Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{dressAltLiningCode}}</td>
      <td>{{dressAltLiningId}}</td>
      <td colspan="2">{{dressAltLiningDescription}}</td>
      <td>{{dressAltLiningStretchBox}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Specials</strong></td>
      <td colspan="2">{{dressSpecialSf}} {{dressSpecialTe}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Extras</strong></td>
      <td><strong>W($)</strong></td>
      <td><strong>R($)</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">{{dressExtrax}}</td>
      <td>{{dressExtrasW}}</td>
      <td>{{dressExtrasR}}</td>
      <td>${{sectionPrice}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Design Details:</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="5">{{dressDesignDetails}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
