<table width="100%" border="0">
  <tbody>
    <tr>
      <td colspan="6"><h3><strong>Jacket</strong></h3></td>
    </tr>
    <tr>
      <td><strong>Jacket Length</strong></td>
      <td colspan="5">{{jacketLengthLevel}} {{jacketLengthLevelBelowNavel}}</td>
    </tr>
    <tr>
      <td><strong>* Explain if Other</strong></td>
      <td colspan="5">{{jacketExplain}}</td>
    </tr>
    <tr>
      <td colspan="6"><strong>Fit Preference specific to this item:</strong></td>
    </tr>
    <tr>
      <td colspan="6">{{jacketPreference}}</td>
    </tr>
    <tr>
      <td>{{jacketLine}}</td>
      <td>&nbsp;</td>
      <td colspan="2"><strong>*Explain if Partial</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2">{{jacketExpand}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Style</strong></td>
      <td><strong>Lapel</strong></td>
      <td><strong>Outer Pockets</strong></td>
      <td><strong>Inner Pockets</strong></td>
      <td><strong>Buttons</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{jacketStyle}}</td>
      <td>{{jacketLapel}}</td>
      <td>{{jacketOutSidePokets}}</td>
      <td>{{jacketInsideCigarettePokets}}</td>
      <td>{{jacketButtons}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Fabric Code</strong></td>
      <td><strong>Fabric #</strong></td>
      <td colspan="2"><strong>Fabric Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{jacketFabricCode}}</td>
      <td>{{jacketFabricId}}</td>
      <td colspan="2">{{jacketDescription}}</td>
      <td>{{jacketStretchFabric}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Lining Code</strong></td>
      <td><strong>Lining #</strong></td>
      <td colspan="2"><strong>Lining Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{jacketLiningCode}}</td>
      <td>{{jacketLiningId}}</td>
      <td colspan="2">{{jacketLiningDescription}}</td>
      <td>{{jacketLiningStretchBox}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Alt. Fab. Code</strong></td>
      <td><strong>Alt. Fab. #</strong></td>
      <td colspan="2"><strong>Alt. Fab. Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{jacketAlternateCode}}</td>
      <td>{{jacketAlternateId}}</td>
      <td colspan="2">{{jacketAlternateDescription}}</td>
      <td>{{jacketAlternateStretchFabric}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Alt. Lining Code</strong></td>
      <td><strong>Alternate Lining #</strong></td>
      <td colspan="2"><strong>Alt. Lining Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{jacketAltLiningCode}}</td>
      <td>{{jacketAltLiningId}}</td>
      <td colspan="2">{{jacketAltLiningDescription}}</td>
      <td>{{jacketAltLiningStretchBox}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Specials</strong></td>
      <td colspan="2">{{jacketSpecialSf}} {{jacketSpecialTe}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Extras</strong></td>
      <td><strong>W($)</strong></td>
      <td><strong>R($)</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">{{jacketExtrax}}</td>
      <td>{{jacketExtrasW}}</td>
      <td>{{jacketExtrasR}}</td>
      <td>${{sectionPrice}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Design Details:</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="5">{{jacketDesignDetails}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
