<table width="100%" border="0">
  <tbody>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td width="15%"><strong>Client Name:</strong></td>
      <td width="35%">{{clientName}}</td>
      <td width="15%"><strong>Date:</strong></td>
      <td width="35%">{{orderDate}}</td>
    </tr>
    <tr>
      <td><strong>Monogram Name:</strong></td>
      <td>{{monogramName}}</td>
      <td><strong>Date of Body Scan:</strong></td>
      <td>{{bodyScanDate}}</td>
    </tr>
    <tr>
      <td><strong>Client Weight:</strong></td>
      <td>{{clientWeight}}</td>
      <td><strong>Kg as of:</strong></td>
      <td>{{scanDate}}</td>
    </tr>
    <tr>
      <td><strong>Order #:</strong></td>
      <td>{{orderId}}</td>
      <td><strong>CA P.O. #:</strong></td>
      <td>{{orderCAId}}</td>
    </tr>
    <tr>
      <td>{{sales_rep}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Sales Rep Name:</strong></td>
      <td>{{repName}}</td>
      <td><strong>Commercial Account Name:</strong></td>
      <td>{{commName}}</td>
    </tr>
    <tr>
      <td><strong>Sales Rep Email:</strong></td>
      <td>{{repEmail}}</td>
      <td><strong>Sales Rep Phone:</strong></td>
      <td>{{repPhone}}</td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="4">{{orderItems}}</td>
    </tr>
    <tr>
      <td colspan="4">&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Comments:</strong></td>
      <td colspan="3">{{designNotes}}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Tax Title</strong></td>
      <td>{{taxTitle}}</td>
      <td><strong>Tax Percent to apply</strong></td>
      <td>{{taxPercent}}</td>
    </tr>
    <tr>
      <td><strong>Number of Pieces</strong></td>
      <td>{{numberOfPieces}}</td>
      <td><strong>Estimated Order Total($)</strong></td>
      <td>{{estimatedOrderTotal}}</td>
    </tr>
    <tr>
      <td><strong>Invoicing email address</strong></td>
      <td>{{clientEmail}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Shipping:</strong></td>
      <td>{{shippingType}}</td>
      <td><strong>Zip Code:</strong></td>
      <td>{{shippingZip}}</td>
    </tr>
    <tr>
      <td><strong>State:</strong></td>
      <td>{{shippingState}}</td>
      <td><strong>Country:</strong></td>
      <td>{{shippingCountry}}</td>
    </tr>
  </tbody>	
</table>
