
<table width="100%" border="0">
  <tbody>
    <tr>
      <td colspan="6"><h3><strong>Pants</strong></h3></td>
    </tr>
    <tr>
      <td><strong>Pants Level</strong></td>
      <td colspan="5">{{pantsLevelAboveNavelVal}} {{pantsLevelBelowNavelVal}} {{pantsLevelBelowNavelVal}}</td>
    </tr>
    <tr>
      <td><strong>Pants Shape</strong></td>
      <td colspan="5">{{pantsShape}}</td>
    </tr>
    <tr>
      <td><strong>* Explain if Other</strong></td>
      <td colspan="5">{{pantsShapeExplain}}</td>
    </tr>
    <tr>
      <td><strong>Pants Length</strong></td>
      <td colspan="5">{{ptPantsLength}}</td>
    </tr>
    <tr>
      <td><strong>* Explain if Other</strong></td>
      <td colspan="5">{{ptPantsLengthExplain}}</td>
    </tr>
    <tr>
      <td><strong>Preferred Pants Heel Height</strong></td>
      <td colspan="5">{{ptHeelHeight}}&quot;</td>
    </tr>
    <tr>
      <td><strong>Pants Stride</strong></td>
      <td colspan="5">{{ptPantsStride}}&quot;</td>
    </tr>
    <tr>
      <td><strong>Pants Heel Slit</strong></td>
      <td colspan="5">{{ptHellSlit}}</td>
    </tr>
    <tr>
      <td colspan="6"><strong>Fit Preference specific to this item:</strong></td>
    </tr>
    <tr>
      <td colspan="6">{{pantsPreference}}</td>
    </tr>
    <tr>
      <td>{{pantLine}}</td>
      <td>&nbsp;</td>
      <td colspan="2"><strong>*Explain if Partial</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="3">{{pantLineExplain}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Style</strong></td>
      <td><strong>Front Pockets</strong></td>
      <td colspan="2"><strong>Hip Pockets</strong></td>
      <td><strong>Belt Loops</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{pantsStyle}}</td>
      <td>{{pantsFrontPocket}}</td>
      <td colspan="2">{{pantsHipPocket}}</td>
      <td>{{pantsBeltLoop}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Fabric Code</strong></td>
      <td><strong>Fabric #</strong></td>
      <td colspan="2"><strong>Fabric Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{pantsFabricCode}}</td>
      <td>{{pantsFabricId}}</td>
      <td colspan="2">{{pantsDescription}}</td>
      <td>{{pantsStretchFabric}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Lining Code</strong></td>
      <td><strong>Lining #</strong></td>
      <td colspan="2"><strong>Lining Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{pantsLiningCode}}</td>
      <td>{{pantsLiningId}}</td>
      <td colspan="2">{{pantsLiningDescription}}</td>
      <td>{{pantsLiningStretchBox}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Alt. Fab. Code</strong></td>
      <td><strong>Alt. Fab. #</strong></td>
      <td colspan="2"><strong>Alt. Fab. Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{pantsAlternateCode}}</td>
      <td>{{pantsAlternateId}}</td>
      <td colspan="2">{{pantsAlternateDescription}}</td>
      <td>{{pantsAlternateStretchFabric}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Alt. Lining Code</strong></td>
      <td><strong>Alternate Lining #</strong></td>
      <td colspan="2"><strong>Alt. Lining Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{pantsAltLiningCode}}</td>
      <td>{{pantsAltLiningId}}</td>
      <td colspan="2">{{pantsAltLiningDescription}}</td>
      <td>{{pantsAltLiningStretchBox}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Specials</strong></td>
      <td colspan="2">{{pantsSpecialSf}} {{pantsSpecialTe}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Extras</strong></td>
      <td><strong>W($)</strong></td>
      <td><strong>R($)</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">{{pantsExtrax}}</td>
      <td>{{pantsExtrasW}}</td>
      <td>{{pantsExtrasR}}</td>
      <td>${{sectionPrice}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Design Details:</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="5">{{pantsDesignDetails}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
