
<table width="100%" border="0">
  <tbody>
    <tr>
      <td colspan="6"><h3><strong>Skirt</strong></h3></td>
    </tr>
    <tr>
      <td><strong>Skirt Length</strong></td>
      <td colspan="5">{{skirtLevelAboveKneeVal}} {{skirtLevelBelowKneeVal}} {{skirtLevelBelowKneeVal}}</td>
    </tr>
    <tr>
      <td><strong>* Explain if Other</strong></td>
      <td colspan="5">{{skirtLevelOtherExplain}}</td>
    </tr>
    <tr>
      <td><strong>Skirt Shape</strong></td>
      <td colspan="5">{{skirtShape}}</td>
    </tr>
    <tr>
      <td><strong>* Explain if Other</strong></td>
      <td colspan="5">{{skirtShapeExplain}}</td>
    </tr>
    <tr>
      <td colspan="6"><strong>Fit Preference specific to this item:</strong></td>
    </tr>
    <tr>
      <td colspan="6">{{skirtPreference}}</td>
    </tr>
    <tr>
      <td colspan="5">{{skirtLine}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Style</strong></td>
      <td><strong>Front Pockets</strong></td>
      <td colspan="2"><strong>Hip Pockets</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{skirtStyle}}</td>
      <td>{{skirtFrontPockets}}</td>
      <td colspan="2">{{skirtBackPockets}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Fabric Code</strong></td>
      <td><strong>Fabric #</strong></td>
      <td colspan="2"><strong>Fabric Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{skirtFabricCode}}</td>
      <td>{{skirtFabricId}}</td>
      <td colspan="2">{{skirtDescription}}</td>
      <td>{{skirtStretchFabric}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Lining Code</strong></td>
      <td><strong>Lining #</strong></td>
      <td colspan="2"><strong>Lining Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{skirtLiningCode}}</td>
      <td>{{skirtLiningId}}</td>
      <td colspan="2">{{skirtLiningDescription}}</td>
      <td>{{skirtLiningStretchBox}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Alt. Fab. Code</strong></td>
      <td><strong>Alt. Fab. #</strong></td>
      <td colspan="2"><strong>Alt. Fab. Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{skirtAlternateCode}}</td>
      <td>{{skirtAlternateId}}</td>
      <td colspan="2">{{skirtAlternateDescription}}</td>
      <td>{{skirtAlternateStretchFabric}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Alt. Lining Code</strong></td>
      <td><strong>Alternate Lining #</strong></td>
      <td colspan="2"><strong>Alt. Lining Description</strong></td>
      <td><strong>Stretch?</strong></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>{{skirtAltLiningCode}}</td>
      <td>{{skirtAltLiningId}}</td>
      <td colspan="2">{{skirtAltLiningDescription}}</td>
      <td>{{skirtAltLiningStretch}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Specials</strong></td>
      <td colspan="2">{{skirtSpecialSf}} {{skirtSpecialTe}}</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><strong>Extras</strong></td>
      <td><strong>W($)</strong></td>
      <td><strong>R($)</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">{{skirtExtrax}}</td>
      <td>{{skirtExtrasW}}</td>
      <td>{{skirtExtrasR}}</td>
      <td>${{sectionPrice}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Design Details:</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="5">{{skirtDesignDetails}}</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
